.btn{
    height: 100px;
    width: 100px;
    padding:0px;
}
#chatBox{
display:flex;
margin-left: 55px;
text-align: center;
}
.buttonContainer{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}
.textContainer{
    display: flex;
    justify-content: space-evenly;
}
.scoreContainer{
    display: flex;
    flex-direction: row;
}
.scoreText{
    margin-right: 5px;
}
