/*

- Mobile: 375px
- Desktop: 1440px

*/

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  font-weight: 700;
  font-family: "Kablammo", cursive;
  font-family: "Lexend Deca", sans-serif;
  user-select: none;
}
.b1 {
  background-color: hsl(222, 26%, 31%);
  color: white;
}
.b2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}
.b3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-left: 10px;
}
#opScreen {
  margin-right: 3px;
}
#rangeContainer {
  width: 90px;
  display: flex;
  flex-direction: column;
  margin-inline-start: 25px;
}
#themeContainer {
  display: flex;
  align-items: end;
}
#numContainer {
  display: flex;
  justify-content: space-between;
  margin-inline: 5px;
}
#keyButtons {
  display: grid;
  grid-template: repeat(5, 40px) / repeat(4, 70px);
  gap: 10px;
}
#keyPad {
  width: 340px;
  height: 280px;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.k1 {
  background-color: hsl(223, 31%, 20%);
}
.k2 {
  background-color: hsl(0, 5%, 81%);
}
.k3 {
  background-color: hsl(268, 71%, 12%);
}
#screen {
  height: 50px;
  border-radius: 15px;
  padding-right: 15px;
  font-size: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.s1 {
  background-color: hsl(224, 36%, 15%);
}
.s2 {
  background-color: hsl(0, 0%, 93%);
}
.s3 {
  background-color: hsl(268, 71%, 12%);
}
.b {
  border-radius: 5px;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.double {
  width: 150px;
}
.wb {
  font-size: 32px;
}
.rb {
  grid-area: 5 / 3 / 6 / 5;
}
/* .gb {

} */
.wb1 {
  background-color: hsl(30, 25%, 89%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
  color: hsl(221, 14%, 31%);
}
.wb2 {
  background-color: hsl(45, 7%, 89%);
  border-bottom: 4px solid hsl(35, 11%, 61%);
}
.wb3 {
  background-color: hsl(268, 47%, 21%);
  border-bottom: 4px solid hsl(290, 70%, 36%);
}
.rb1 {
  background-color: hsl(6, 63%, 50%);
  border-bottom: 4px solid hsl(6, 70%, 34%);
}
.rb2 {
  background-color: hsl(25, 98%, 40%);
  border-bottom: 4px solid hsl(25, 99%, 27%);
  color: white;
}
.rb3 {
  background-color: hsl(176, 100%, 44%);
  border-bottom: 4px solid hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}
.gb1 {
  background-color: hsl(225, 21%, 49%);
  border-bottom: 4px solid hsl(224, 28%, 35%);
}
.gb2 {
  background-color: hsl(185, 42%, 37%);
  border-bottom: 4px solid hsl(185, 58%, 25%);

  color: white;
}
.gb3 {
  background-color: hsl(281, 89%, 26%);
  border-bottom: 4px solid hsl(285, 91%, 52%);
  color: white;
}
footer {
  margin-top: 5px;
  color: white;
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 80%, 77%);
}
